  
body {
    min-height: 200vh;
    background-image: url("../images/4358773.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  a {
    cursor: pointer;
  }
  
  footer span {
    flex-shrink: 0;
    background-color:transparent;
  }
/* nav {
    margin-bottom: 100px;
  } */
